.container {
    display: flex;
    justify-content: flex-start;
    width: 500px;
    margin: auto;
    padding: 20px;
}

.container:nth-child(even) {
    background-color: lightgrey;
}

.container:nth-child(odd) {
    background-color: lightblue;
}

img {
    width: 200px;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
}

h3 {
    margin-top: 0;
    text-align: start;
}